node_modules/
.DS_Store
Thumbs.db
*.log
.idea/
*.iml
local.properties
app/android/
app/www/
android/.gradle/
android/app/build/
android/gradle/wrapper/gradle-wrapper.jar
android/package-lock.json
android/package.json
DSH-Mobile.apk
